{% extends "base.html" %}
{% block content %}
<div class="p-4 bg-white rounded shadow-sm">
  <h3>{{ t.index_title }}</h3>
  <p>{{ t.index_quick_links }}</p>
  <ul>
    <li><a href="/products">{{ t.nav_products }}</a></li>
    <li><a href="/stock">{{ t.nav_stock }}</a></li>
    <li><a href="/receive">{{ t.nav_receive }}</a></li>
    <li><a href="/move">{{ t.nav_move }}</a></li>
    <li><a href="/move-all">{{ t.index_move_all }}</a></li>
    <li><a href="/sale">{{ t.index_sale }}</a></li>
  </ul>
</div>
{% endblock %}