{% extends "base.html" %}
{% block content %}
<div class="bg-white p-3 rounded shadow-sm">
  <h4>{{ t.sale_done_title }}</h4>
  <p>{{ t.sale_done_invoice }} {{ invoice_number }}</p>
  <ul>
    <li><a href="/download?path={{ pdf }}">{{ t.sale_done_download_pdf }}</a></li>
    <li><a href="/download?path={{ backup }}">{{ t.sale_done_download_backup }}</a></li>
    <li><a href="/sale/xlsx/view?n={{ invoice_number }}">{{ t.sale_done_view_xlsx }}</a></li>
    <li><a href="/sale/xlsx?n={{ invoice_number }}">{{ t.sale_done_download_xlsx }}</a></li>
  </ul>
  <a class="btn btn-secondary" href="/sale">{{ t.btn_back }}</a>
</div>
{% endblock %}